<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chi sua trang ca nhan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
</head>
<link href="../public/css/style.css" rel="stylesheet" />

<body>

    <div class="container">
        <form action=" " class="form-login " method="POST " autocomplete="on ">
            <div class="caption-noticreate">
                <label><h3>Đăng thông báo</h3></label>
            </div>

            <hr>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Tiêu đề </h5>
                <input class="profiledata_1 input_editprofile_phongkhoa" type=" text " id="" name=""><br><br>
            </div>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Nội dung </h5>
                <input class="profiledata_1 input_editprofile_phongkhoa input-editcreate-noti" type=" text " id="" name=""><br><br>
            </div>
            <div class="profiledata ">
                <h5 class="profiledata_1 label_editprofile_phongkhoa">Phòng ban </h5>
                <!-- Chon phong khoa -->
                <form>
                    <div class="checkbox custom-checkbox">
                        <label><input type="checkbox" value=""> CTHSSV</label>
                    </div>
                    <div class="checkbox custom-checkbox">
                        <label><input type="checkbox" value=""> Phòng đại học</label>
                    </div>
                    <div class="checkbox custom-checkbox">
                        <label><input type="checkbox" value="" > Khoa Công nghệ thông tin</label>
                    </div>
                </form>
                <br><br>
            </div>
            <div class="upload-btn-wrapper">
                <button class="btns btnsaddfilecreatenoti">Chọn File đính kèm</button>
                <input type="file" name="myfile" />
            </div>
            <hr>
            <div class="form-group ">
                <button type="submit " class="btn btn-info btn-editprofile ">Đăng thông báo</button>
            </div>
            <br>

        </form>

    </div>

</body>

</html>