<!DOCTYPE html>
<html lang="en">

<head>
    <title>Trang ca nhan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arbutus" rel="stylesheet">
</head>
<link href="../css/style.css" rel="stylesheet" />

<body>

    <div class="container">
        <form action=" " class="form-login " method="POST " autocomplete="on ">
            <h4 class="tieudethongbaodetail">Tiêu đề thông báo</h4>
            <hr>
            <h6 class="noidungthongbaodetail"> Noi dung thong bao Noi dung thong bao Noi dung thong bao Noi dung thong bao Noi dung thong bao Noi dung thong bao</h6>
            <br><br>
            <hr>
            <h6 class="noidungthongbaodetail">File dinh kem</h6>
            <br><br>

        </form>

    </div>

</body>

</html>